/*CSS Daily Challenge*/

table {
    width: 100%;
    border: 5px solid #A01223;
    text-align: center;
}

td {
    width: 25%;
}

th {
    border: 3px solid #A01223;
    font-variant: small-caps;
    background-color: #e3732f;
}

img {
    height: 100px;
    margin: auto;
}

.Assemble {
    box-shadow: 5px 5px 10px teal;
}

.Ultron {
    box-shadow: 5px 5px 10px rgb(133, 2, 2);
}

.Part1 {
    box-shadow: 5px 5px 10px rgb(226, 60, 0);
}

.Part2 {
    box-shadow: 5px 5px 10px rgb(180, 137, 27);
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}